.container {
  &-main {
    width: 375px;
    display: block;
    height: 100vh;
    margin: 0 auto;
  }

  &-info {
    & h1 {
      text-align: center;
      font-size: 2.6rem;
      color: $very-dark-desaturated-violet;
    }
    &__text {
      margin: 0 1.3rem;
      line-height: 1.6rem;
      color: $dark-grayish-violet;
      text-align: center;
    }
  }
}
