.phone {
  width: $phone-width;
  height: $phone-height;
  display: block;
  margin: 0 auto;
  box-shadow: 1px 1px 31px rgba($color: #000000, $alpha: 0.25);
  border-radius: $screen-corner-radius;
  background-color: white;

  &__screen {
    width: $screen-width;
    height: $screen-height;
    position: relative;
    left: $screen-margin-left-right;
    top: $screen-margin-top-bottom;
    border-radius: $screen-corner-radius;
    background-color: $screen-colour;
    overflow: hidden;
  }
}
