.spacer {
  &-1_5rem {
    padding-top: 1_5rem;
    width: 100%;
  }
  &-2rem {
    padding-top: 2rem;
    width: 100%;
  }
  &-2_5rem {
    padding-top: 2.5rem;
    width: 100%;
  }
  &-3rem {
    padding-top: 3rem;
    width: 100%;
  }
  &-4rem {
    padding-top: 4rem;
    width: 100%;
  }
}
